body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../img/fondoReloj.jpg);
  color: aliceblue;
}


#fecha{
    background: rgba(0, 0, 0, 0.4);
 
}
#hora{
    background: rgba(0, 0, 0, 0.4);
 
}
.fecha{
  display: inline-block;
}